<html>
<title>ADD EMPLOYEE - HACKERMANN</title>
{% load static %}

<body background="{% static "background.jpg" %}">

<h2><u>Add an employee!</u></h2>

<img src="{% static "hackerman-mini.png" %}" alt="HACKERMAN" width="200" height="200">

<p>
	<form action="#" method="post">{% csrf_token %}
	Name: <input type="text" name="name"><br>
	Employee ID: <input type="number" name="emp_id"><br>
	Salary: <input type="text " name="salary"><br><br>
	<input type="submit" value="Submit!">
	</form>
	<br><input type="button" onclick="location.href='/';" value="Go to homepage"/>
</p>

<p>
	<h3>Developed by: THE H4CK3RM4N, Hackermann Technologies Inc.</h3>
	Copyright © 2019. All rights reserved.
</p>
</body>
</html>
