<html>
<title>REMOVE AN EMPLOYEE</title>
{% load static %}

<body background="{% static "background.jpg" %}">

<h2><u>Remove an employee!</u></h2>
<img src="{% static "hackerman-mini.png" %}" alt="HACKERMAN" width="200" height="200">
<p>
  <form action="#" method="post">{% csrf_token %}
    Employee ID: <input type="text" name="emp_id">
    <input type="submit" value="Submit!">
  </form>
</p>

<p>
	<input type="button" onclick="location.href='/';" value="Go to homepage"/>
</p>

<p>
	<h3>Developed by: THE H4CK3RM4N, Hackermann Technologies Inc.</h3>
	Copyright © 2019. All rights reserved.
</p>
</body>
</html>
