<html>
<title>ADMIN - HACKERMANN</title>
<body background="http://angsila.cs.buu.ac.th/~58160632/887371/lab02/h5.jpg">
  <center>

  <p><h2><u>EMPLOYEE - ADMIN TOOLS</u></h2></p>

  <img src="https://media0.giphy.com/media/5TiS8zZx1mc3m/giphy.gif" alt="HACKERMAN">

  <p>
  	<input type="button" onclick="location.href='/add-employee/';" value="Add an employee"/>&nbsp;
  	<input type="button" onclick="location.href='/employee-details/';" value="List employees"/>&nbsp;
    <input type="button" onclick="location.href='/employee-details-csv/';" value="List employees from CSV"/>&nbsp;
  	<input type="button" onclick="location.href='/remove-employee/';" value="Remove an employee"/>
  </p>

  <p><input type="button" onclick="location.href='/logout/';" value="LOG OUT"/>

  <p><input type="button" onclick="location.href='/';" value="Go to homepage"/></p>

  <p>
  	<h3>Developed by: THE H4CK3RM4N, Class XII A, FIS.</h3>
  	Copyright © 2019. All rights reserved.
  </p>

  </center>
</body>
</html>
