<html>
<title>EMPLOYEE DETAILS - HACKERMANN</title>

<body background="https://img.freepik.com/free-photo/black-white-bamboo-surface-merge-background_7182-2053.jpg">

<u><h2>Employee Details</h2></u>

<p><table border="1" cellpadding="3">
	<tr>
		<th>Employee Name</th>
		<th>Employee ID</th>
	</tr>
	{% for i,j in data.items %}
	<tr>
		<td>{{i}}</td>
		<td>{{j}}</td>
	</tr>
	{% endfor %}
</table></p>

<p>
	<input type="button" onclick="location.href='/';" value="Go to homepage"/>
</p>
<img src="https://i.kym-cdn.com/entries/icons/original/000/021/807/4d7.png" alt="HACKERMAN" width="200" height="200">
<p>
	<h3>Developed by: Adithya R, Class XII A, FIS.</h3>
	Copyright © 2019. All rights reserved.
</p>
</body>
</html>
