<html>
<title>HOME - HACKERMANN</title>
<body background="http://angsila.cs.buu.ac.th/~58160632/887371/lab02/h5.jpg">
<marquee><h2><u>Welcome to <font color="red">Hackermann Technologies Inc.</font> homepage!</h2><u></marquee>

<center>
<img src="https://media0.giphy.com/media/5TiS8zZx1mc3m/giphy.gif" alt="HACKERMAN">

<p>
	<input type="button" onclick="location.href='/login/';" value="ADMIN LOGIN!"/><br><br>
	<input type="button" onclick="location.href='http://www.google.com';" value="Go to Google"/>&nbsp;
	<input type="button" onclick="location.href='http://www.stackoverflow.com';" value="Go to stackoverflow"/>&nbsp;
	<input type="button" onclick="location.href='http://github.com';" value="Go to GitHub"/>
</p>

<p>
	<h3>Developed by: THE H4CK3RM4N, Hackermann Technologies Inc.</h3>
	Copyright © 2019. All rights reserved.
</p>

</center>
</body>
</html>
