<html>
<title>HOME - HACKERMANN</title>
<body background="https://img.freepik.com/free-photo/black-white-bamboo-surface-merge-background_7182-2053.jpg">
<marquee><h2><u>Welcome to my Django 'hackermann' project's homepage bois!</h2><u></marquee>

<center>
<img src="https://i.kym-cdn.com/entries/icons/original/000/021/807/4d7.png" alt="HACKERMAN" width="400" height="400">

<p>
	<input type="button" onclick="location.href='/addemployee/';" value="Add an employee!"/>
	<input type="button" onclick="location.href='/employee-details/';" value="List employees!"/>
	<input type="button" onclick="location.href='/remove-employee/';" value="Remove an employee!"/>
</p>

<p>
	<h3>Developed by Adithya R, Class XII A, FIS.</h3>
	Copyright © 2019. All rights reserved.
</p>

</center>
</body>
</html>
